<!DOCTYPE html>
<html lang="en">
<%= content_for(:html_title) {"Cat & Dog Fact Archive"} %>

  <h1 class="title is-1">Cat & Dog Fact Archive</h1>

  <div class="column">
    <p>
      <strong>Heres a random cat fact:</strong>
    </p>
    <p>
      <strong><%= @cat_fact.cat_fact %></strong>
    </p>
    <p><%= link_to "View More", @cat_fact %></p>
  </div>

  <div class="column mt-5">
    <p>
      <strong>Heres a random dog fact:</strong>
    </p>
    <p>
      <strong><%= @dog_fact.dog_fact %></strong>
    </p>
    <p><%= link_to "View More", @dog_fact %></p>
  </div>

  <div class="column">
    <h2 class="title is-3 mt-5">About us</h2>
    <p>
      <strong>
        Welcome to the Cat & Dog Fact Archive! This site aims to provide random facts<br>
        about cats and dogs that come from two different API's. All of the facts found on<br>
        this website come from a <a href="https://github.com/wh-iterabb-it/meowfacts">Cat API</a>
        and a <a href="https://dogapi.dog/">Dog API</a>. The authors under each fact are<br>
        randomly generated names from the <a href="https://github.com/faker-ruby/faker/blob/main/doc/default/name.md">
        Faker Gem</a> to simulate authors for these facts.<br>
        The data displayed is contained within three different database tables, the Author<br>
        table, Cat Fact table, and Dog Fact table. Between both fact tables and the Author<br>
        table is a one to many association so that the author names may be used within<br>
        those tables.
      </strong>
    </p>
  </div>
</html>
